html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*************************** Required ************************/
/** Feel free to change styles like height, width, color and font sizes, but the elements get created automatically **/
.ipop { font-size: .75rem; } /* base font size */

.ipopbk {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 9998;
	-webkit-transform: translateZ(0);
}
.ipop {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transform: translateZ(0);
	display: none;
	z-index: 9999;
}
.ipop .x-closer {
	position: absolute;
	top: -30px;
	right: -30px;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	border: 4px solid #343434;
	background-color: #fff;
	color: #494949;
	font-family: Arial, sans-serif;
	font-size: 44px;
	font-weight: bold;
	line-height: 0.85;
	text-align: center;
	cursor: pointer;
}
.ipop .x-closer:hover {
	color: #999;
}
/* moldy browsers */
.lt-ie9 .ipopbk {
	background: #000000;
	filter: "alpha(opacity=60)";
	-ms-filter: "alpha(opacity=60)";
	opacity: 0.6;
}
/****************** End Required **********************/
.ipop {
	color: #ffffff;
	background-color: #363636;
	border: 10px solid #000;
}
.ipop .x-submit, .ipop .x-nothanks {
	position: relative;
	background-color: #ffd51e;
	border: 0;
	width: 175px;
	line-height: 70px;
	color: #222222;
	font-size: 2em;
	font-weight: 300;
	margin-right: 45px;
	margin-bottom: .5em;
	padding: 0;
	display: inline-block;
}
.ipop-header-graphic {
	width: 100%;
	max-width: 560px;
	padding-bottom: 45.71428571428571%;
	background: url(http://s7d5.scene7.com/is/image/horizonhobby/pre%2Dblack%2Dfriday%2Dpopup%2Dbg?$Default$) no-repeat scroll center transparent;
	background-size: contain;
}
.ipop form {
	padding: 2em;
}
.ipop h3, .ipop hr {
	line-height: 1;
	margin: 0 0 10px 0;
	color: #ffffff;
}
.ipop label {
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	padding: 0;
	margin: 0 10px 4px 0;
	font-size: 1em;
}
.ipop .checkbox {
	margin: 0 6px;
}
.ipop .fb-email {
	margin: 0 0 10px 0;
	height: auto;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}
.ipop .invalid {
	box-shadow: 0 0 5px 1px rgba(255, 0, 0, 1);
}
.ipop .x-button-group {
	margin: 10px auto 0;
	text-align: center;
}
.ipop .x-submit:after {
	content: " ";
	position: absolute;
	right: -35px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 0 35px 35px;
	border-color: transparent transparent transparent #ffd61e;
}
.ipop .x-submit:hover {
	background-color: #ffffff;
}
.ipop .x-submit:hover:after {
	border-color: transparent transparent transparent #ffffff;
}
.ipop .x-nothanks {
	background-color: #ffffff;
	color: #222222;
}
.ipop .x-nothanks:after {
	content: " ";
	position: absolute;
	right: -35px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 0 35px 35px;
	border-color: transparent transparent transparent #ffffff;
}
.ipop .x-nothanks:hover {
	background-color: #ffd51e;
}
.ipop .x-nothanks:hover:after {
	border-color: transparent transparent transparent #ffd51e;
}
